<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= pageTitle %> </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/dashboard/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dashboard/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/dashboard/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/dashboard/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/dashboard/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="/dashboard/css/vendor/cryptocurrency-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/dashboard/css/plugins/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="/dashboard/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/dashboard/css/style.css">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="/dashboard/css/style-primary.css">

</head>

<body>

    <div class="main-wrapper">

        <!-- Content Body Start -->
        <div class="content-body m-0 p-0">

            <div class="login-register-wrap">
                <div class="row">

                    <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
                        <div class="login-register-form-wrap">

                            <div class="content">
                                <h1>Sign up</h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="login-register-form">

                                <% if(password.length){ %>
                                    <div class="alert alert-secondary" role="alert">
                                        <%= password %> 
                                    </div>
                                <% } %> 

                                <% if(email.length){ %>
                                    <div class="alert alert-secondary" role="alert">
                                        <%= email %> 
                                    </div>
                                <% } %> 
                                
                                <form action="" method="post">
                                    <div class="row">
                                        <div class="col-12 mb-20"><input class="form-control" name="name" type="text" placeholder="Name"></div>
                                        <div class="col-12 mb-20"><input class="form-control" name="email" type="email" placeholder="Email"></div>
                                        <div class="col-12 mb-20"><input class="form-control" name="skill" type="text" placeholder="Skill"></div>
                                        <div class="col-12 mb-20"><input class="form-control" name="password" type="password" placeholder="Password"></div>
                                        <div class="col-12 mb-20"><input class="form-control" name="confirm_password" type="password" placeholder="Retype Password"></div>
                                        <div class="col-12">
                                            <div class="row justify-content-between">
                                                <div class="col-auto mb-15">Already have account? <a href="/dashboard/auth/login">Login Now.</a></div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-10"><button class="button button-primary button-outline">sign up</button></div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="login-register-bg order-1 order-lg-2 col-lg-7 col-12">
                        <div class="content">
                            <h1>Sign up</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- Content Body End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="/dashboard/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/dashboard/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/dashboard/js/vendor/popper.min.js"></script>
    <script src="/dashboard/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="/dashboard/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/dashboard/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="/dashboard/js/main.js"></script>

</body>

</html>