    <div class="footer-section">
        <div class="container-fluid">

            <div class="footer-copyright text-center">
                <p class="text-body-light">2019 © <a href="https://themeforest.net/user/codecarnival">Codecarnival</a>
                </p>
            </div>

        </div>
    </div>
    </div>


    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="/dashboard/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/dashboard/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/dashboard/js/vendor/popper.min.js"></script>
    <script src="/dashboard/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="/dashboard/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/dashboard/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="/dashboard/js/main.js"></script>

    <!-- Plugins & Activation JS For Only This Page -->
    <script src="/dashboard/js/plugins/nice-select/jquery.nice-select.min.js"></script>
    <script src="/dashboard/js/plugins/nice-select/niceSelect.active.js"></script>
    <script src="/dashboard/js/plugins/filepond/filepond.min.js"></script>
    <script src="/dashboard/js/plugins/filepond/filepond-plugin-image-exif-orientation.min.js"></script>
    <script src="/dashboard/js/plugins/filepond/filepond-plugin-image-preview.min.js"></script>
    <script src="/dashboard/js/plugins/filepond/filepond.active.js"></script>

    </body>

    </html>