<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= pageTitle %> </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/dashboard/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dashboard/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/dashboard/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/dashboard/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/dashboard/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="/dashboard/css/vendor/cryptocurrency-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/dashboard/css/plugins/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="/dashboard/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/dashboard/css/style.css">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="/dashboard/css/style-primary.css">

</head>

<body>

    <div class="main-wrapper">

        <!-- Content Body Start -->
        <div class="content-body m-0 p-0">

            <!--Error Start-->
            <div class="error-wrap">
                <div class="container">
                    <div class="row">

                        <div class="error-image col-12"><img src="/dashboard/images/error/error-1.png" alt=""></div>

                        <div class="error-content col-12">
                            <h1 class="title">Page Not Found!</h1>
                            <a href="/" class="button button-secondary button-round">Back to home</a>
                        </div>

                    </div>
                </div>
            </div>
            <!--Error End-->

        </div><!-- Content Body End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="/dashboard/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/dashboard/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/dashboard/js/vendor/popper.min.js"></script>
    <script src="/dashboard/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="/dashboard/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/dashboard/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="/dashboard/js/main.js"></script>

</body>

</html>