<%- include("../../../partials/dashboard/header.ejs") %> 
<%- include("../../../partials/dashboard/sidebar.ejs") %>

<div class="content-body">

    <!-- Page Headings Start -->
    <div class="row justify-content-between align-items-center mb-10">

        <!-- Page Heading Start -->
        <div class="col-12 col-lg-auto mb-20">
            <div class="page-heading">
                <h3>eCommerce <span>/ Add Product</span></h3>
            </div>
        </div><!-- Page Heading End -->

        <!-- Page Button Group Start -->
        <div class="col-12 col-lg-auto mb-20">
            <div class="buttons-group">
                <button class="button button-outline button-primary">Save &amp; Publish</button>
                <button class="button button-outline button-info">Save to Draft</button>
                <button class="button button-outline button-danger">Delete Product</button>
            </div>
        </div><!-- Page Button Group End -->

    </div><!-- Page Headings End -->


</div>

<%- include("../../../partials/dashboard/footer.ejs") %> 